<section *ngIf="hasAccess" class="py-5 mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 *ngIf="!editing" class="display-6 fw-bold mb-4">Add <span class="underline">Client</span></h2>
                <h2 *ngIf="editing" class="display-6 fw-bold mb-4">Edit <span class="underline">{{client.name}}</span></h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div>
                    <form class="p-3 p-xl-4" method="post" [formGroup]="clientForm" (ngSubmit)="onSubmit()" data-bs-theme="light">
                        <div class="mb-3"><input id="name" class="shadow form-control" type="text" name="name" placeholder="Name" formControlName="name" required/></div>
                        <div class="mb-3"></div>
                        <div class="mb-3"><textarea id="description" class="shadow form-control" name="description" rows="6" placeholder="Description" formControlName="description" maxlength="250"></textarea></div>

                        <div class="row">
                            <div class="col">
                                <label class="form-label" for="visibility">Visibility</label>
                                <mat-radio-group class="row mb-3"  formControlName="visibility" name="visibility" aria-label="Select an option" required>
                                    <mat-radio-button class="col" #visibilityTrue [value]="true" (change)="visibilityChange(visibilityTrue.value)">Public</mat-radio-button>
                                    <mat-radio-button class="col" #visibilityFalse [value]="false" (change)="visibilityChange(visibilityFalse.value)">Private</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div *ngIf="this.clientForm.value.visibility==false" class="col">
                                <div class="mb-3">
                                    <label class="form-label" for="users">Visible to: </label>
                                    <mat-select multiple id="users" formControlName="canView" class="shadow form-control" placeholder="Users" >
                                        <mat-option 
                                            [value]="userid"
                                            disabled
                                            selected
                                            >{{username}} (Me)
                                        </mat-option>
                                        <mat-option 
                                            *ngIf="users.length==0"
                                            value=""
                                            disabled
                                            >No Users Accounts
                                        </mat-option>
                                        <mat-option 
                                            *ngFor="let user of users"
                                            [value]="user.userId"
                                            >{{user.username}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label class="btn btn-default shadow w-100">
                                    Logo <input type="file" hidden
                                        onchange="$('#upload-logo-info').text(this.files[0].name)"
                                        #logo accept='image/*'
                                        formControlName="logoPath"
                                        (change)="handleImageUpload(logo.files)">
                                </label>
                                <span class='label label-info' id="upload-logo-info"></span>
                            </div>
                            <div class="col mb-3">
                                <label class="btn btn-default shadow w-100">
                                    Signed Agreement 
                                    <input type="file" hidden    
                                        onchange="$('#upload-agreement-info').text(this.files[0].name)"
                                        #agreement accept='application/pdf'
                                        formControlName="agreementPath"
                                        (change)="handleFileUpload(agreement.files)">
                                </label>
                                <span class='label label-info' id="upload-agreement-info"></span>
                            </div>
                        </div>    
                        <div *ngIf="clientForm.invalid && name.touched" class="alert alert-danger">
                        
                            <div *ngIf="name.errors?.['required']&&name.touched">
                                Name is required.
                            </div>
                            <div *ngIf="v.errors?.['required']">
                                Visibility is required.
                            </div>
                            <div *ngIf="canView.errors?.['required']&&v==true">
                                Users is required.
                            </div>
                            <div *ngIf="clientForm.value.agreementPath==null||clientForm.value.agreementPath==''">
                                Signed Agreement is required.
                            </div>
                        </div>
                        <div><button class="btn btn-primary shadow d-block w-100" type="submit" [disabled]="clientForm.invalid">{{action}}</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="!hasAccess" class="py-5 mt-5">
    <div class="container">
        <div class="row row-cols-1 d-flex justify-content-center align-items-center">
            <div class="col-md-10 text-center"><img class="img-fluid w-100" src="assets/img/illustrations/404.svg" /></div>
            <div class="col text-center">
                <h2 class="display-3 fw-bold mb-4">Page Not Found</h2>
                <p class="fs-4 text-muted">Fusce adipiscing sit, torquent porta pulvinar.</p>
            </div>
        </div>
    </div>
</section>