<section *ngIf="canView" class="py-5 mt-5">
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h3 class="display-6 fw-bold pb-md-4">Projects for <span class="underline">{{client.name}}</span></h3>
                <p class="w-lg-50 p-5">{{client.description}}</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 d-flex p-2 justify-content-center">
                    <a class="btn btn-default shadow w-75" [attr.href]="pdf">View the Signed Agreement</a>
                </div>
                <div *ngIf="canAdd" class="col-md-6 d-flex p-2 justify-content-center">
                    <button class="btn btn-primary shadow w-75" routerLink="/main/{{routeid}}/p/add">Add Project</button>
                </div>
            </div>
        </div>

        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <app-project-card 
                class="col d-flex justify-content-center p-4"
                *ngFor="let project of projects"
                (updateProjects)="updateProjects()"
                [isOwner]="canAdd"
                [project]="project">
            </app-project-card>
        </div>
    </div>
</section>
<section *ngIf="!canView" class="py-5 mt-5">
    <div class="container">
        <div class="row row-cols-1 d-flex justify-content-center align-items-center">
            <div class="col-md-10 text-center"><img class="img-fluid w-100" src="assets/img/illustrations/404.svg" /></div>
            <div class="col text-center">
                <h2 class="display-3 fw-bold mb-4">Page Not Found</h2>
                <p class="fs-4 text-muted">Fusce adipiscing sit, torquent porta pulvinar.</p>
            </div>
        </div>
    </div>
</section>