<div class="card">
    <div class="card-body p-4">
        
        <div class="row align-items-center">
            <div class="col">
                <h1 class="card-title d-flex justify-content-center text-capitalize">{{project.name}}</h1>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon">
                    <strong>{{logo}}</strong>
                <!-- <svg class="bi bi-bell" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"></path>
                    </svg> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h6>Team Lead<span *ngIf="leads.length>1">s</span></h6>
                <ul>
                    <li class="team-member text-capitalize"
                        *ngFor="let lead of leads">
                        {{lead}}
                    </li> 
                </ul>
            </div>
            <div class="col text-center" *ngIf="members.length!=0">
                <h6>Team Member<span *ngIf="members.length>1">s</span></h6>
                <ul>
                    <li class="team-member text-capitalize"
                        *ngFor="let member of members">
                        {{member}}
                    </li> 
                </ul>
            </div>
            <div class="pt-2">
                <p class="card-text">{{project.description}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="canEdit||canRemove" class="card-footer">
        <div class="row">
            <div *ngIf="canEdit" class="col p-2 text-center"><button class="btn btn-primary shadow w-100" type="button" (click)="editClient(project.projectId!,project.clientId!)">Edit</button></div>
            <div *ngIf="canRemove" class="col p-2 text-center"><button class="btn btn-danger shadow w-100" type="button" (click)="deleteConfirm(project.name!, project.projectId!)">Delete</button></div>
        </div>
    </div>
</div>