<nav id="mainNav" class="navbar navbar-dark navbar-expand-md fixed-top bg-primary navbar-shrink py-3">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span>Client Link</span></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item" *ngIf="leadUser"><a class="nav-link" routerLink="/main/{{userid}}/clients">My Clients</a></li>
                <li class="nav-item" *ngIf="accountUser"><a class="nav-link" routerLink="/main/myprojects">My Projects</a></li>
                <li class="nav-item" *ngIf="leadUser"><a class="nav-link" routerLink="/main/c/add">Add Client</a></li>
            </ul>
            <ng-container *ngIf="loggedin">
                <a class="btn btn-warning shadow" role="button" (click)="logout()">Logout</a>
            </ng-container>
            <ng-container *ngIf="!loggedin">
                <a class="btn btn-warning shadow" role="button" routerLink="/login">Login</a>
            </ng-container>
        </div>
    </div>
</nav>