<section class="py-4 py-md-5 my-5">
    <div class="container py-md-5">
        <div class="row">
            <div class="col-md-6 text-center"><img class="img-fluid w-100" src="assets/img/illustrations/register.svg"></div>
            <div class="col-md-5 col-xl-4 text-center text-md-start">
                <h2 class="display-6 fw-bold mb-5"><span class="underline pb-1"><strong>Sign up</strong></span></h2>
                <form  method="post" [formGroup]="signupForm" (ngSubmit)="addUser()" data-bs-theme="light">
                    <div class="mb-3"><input class="shadow-sm form-control" type="email" name="email" placeholder="Email" formControlName="username" required (keyup)="checkUsername()"></div>
                    <div class="mb-3"><input class="shadow-sm form-control" type="password" name="password" placeholder="Password" formControlName="password" required (keyup)="checkPassword()"></div>
                    <div class="mb-3"><input class="shadow-sm form-control" type="password" name="password_repeat" placeholder="Repeat Password" formControlName="confirmPassword" required (keyup)="checkPassword()"></div>
                    <mat-radio-group class="row mb-3" formControlName="role" aria-label="Select an option" required>
                        <mat-radio-button class="col" value="0">Team Lead</mat-radio-button>
                        <mat-radio-button class="col" value="1">Team Member</mat-radio-button>
                      </mat-radio-group>
                    <div *ngIf="(u.errors&&u.touched)||(p.errors&&p.touched) || failed ||(!passwordMatch&&cp.touched)||(signupForm.invalid&&u.touched&&p.touched&&cp.touched)" class="alert alert-danger" role="alert">
                        <div *ngIf="u.errors?.['required']&&u.touched">
                            Username is required.
                        </div>
                        <div *ngIf="p.errors?.['required']&&p.touched">
                            Password is required.
                        </div>
                        <div *ngIf="!passwordMatch&&cp.touched">
                            Passwords Don't Match.
                        </div>
                        <div *ngIf="r.errors?.['required']">
                            Role is required.
                        </div>
                        <div *ngIf="failed">
                            Username Already Exists
                        </div>
                    </div>
                    <div class="mb-5"><button class="btn btn-primary shadow" type="submit">Create account</button></div>
                </form>
                <p class="text-muted">Have an account? <a routerLink="/login">Log in&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-narrow-right">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <line x1="15" y1="16" x2="19" y2="12"></line>
                            <line x1="15" y1="8" x2="19" y2="12"></line>
                        </svg></a>&nbsp;</p>
            </div>
        </div>
    </div>
</section>