<section class="py-5 mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 *ngIf="!editing" class="display-6 fw-bold mb-4">Add <span class="underline">Project</span></h2>
                <h2 *ngIf="editing" class="display-6 fw-bold mb-4">Edit <span class="underline">{{project.name}}</span></h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div>
                    <form class="p-3 p-xl-4" method="post" [formGroup]="projectForm" (ngSubmit)="onSubmit()" data-bs-theme="light">
                        <div class="mb-3"><input id="name" class="shadow form-control" type="text" name="name" placeholder="Name" formControlName="name" required/></div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label" for="leads">Team Leads</label>
                                    <mat-select multiple id="leads" formControlName="teamLeads" class="shadow form-control" placeholder="Leads" required>
                                        <mat-option 
                                            *ngIf="leads.length==0"
                                            value=""
                                            disabled
                                            >No Team Leads Accounts
                                        </mat-option>
                                        <mat-option 
                                            *ngFor="let user of leads"
                                            [value]="user.userId"
                                            >{{user.username}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label class="form-label" for="members">Team Members</label>
                                    <mat-select multiple id="members" formControlName="teamMembers" class="shadow form-control" placeholder="Members">
                                        <mat-option 
                                            *ngIf="members.length==0"
                                            value=""
                                            disabled
                                            >No Team Member Accounts
                                        </mat-option>
                                        <mat-option 
                                            *ngFor="let user of members"
                                            [value]="user.userId"
                                            >{{user.username}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3"><textarea id="description" class="shadow form-control" name="description" rows="6" placeholder="Description" formControlName="description" maxlength="250"></textarea></div>  
                        <div *ngIf="projectForm.invalid && name.touched" class="alert alert-danger">
                        
                            <div *ngIf="name.errors?.['required']&&name.touched">
                                Name is required.
                            </div>
                        </div>
                        <div><button class="btn btn-primary shadow d-block w-100" type="submit" [disabled]="projectForm.invalid">{{action}}</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>